div
	div.addr(ng-mousedown="$event.preventDefault()",ng-class="name",ng-switch="addressOrCoords",ng-swipe-left="addressOrCoords = addressOrCoords === 'coords' ? 'addr' : 'coords' ")
		div.animate-switch(ng-switch-when="coords") TBD
		div.animate-switch(ng-switch-default) {{address.address}}
div.coords {{address.dms}}
