div
	div.ip
		div.a1
			h2 Current
			div(data-homer-loca-directive="",data-address="current")
			div.addr {{distance | distanceFilter:'miles' | number:3}}
			button#setCurrent(ng-click="setCurrent()") Set Current
		div.a2
			img#map(ng-src="{{mapUrl}}")
		div.a3
			h2 Home
			div(data-homer-loca-directive="",data-address="home")
			button#setHome(ng-click="setHome()") Set Home
		a(href="#about") About
