.ip
	.a1
		h2 Current
		homer-spot(spot="vm.last")
		.distance {{vm.distance | distanceFilter:'miles' | number:3}}
		button#setCurrent(ng-click="vm.setCurrent()") Set Current
	.a2
		img#map(ng-src="{{vm.mapUrl}}")
	.a3
		h2 Home
		homer-location(location="vm.home")
		button#setHome(ng-click="vm.setHome()") Set Home
