.addr-container {
    position: relative;
    height: 100px;
    overflow: hidden;

    &.err {
        background: rgba(255, 0, 0, 0.7);
    }
}

.addr {
    &.ng-animate {
        -webkit-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
        transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    &.ng-leave.ng-leave-active, 
    &.ng-enter {
        top: -110px;
    }

        &.ng-leave,
        &.ng-enter.ng-enter-active {
            top: 0;
        }
}

.coords {
    font-size: .8em;
}

@-webkit-keyframes homerfun {
    from {
        -webkit-transform: scale(.3);
        transform: scale(.3);
    }

    to {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.homerfun {
    -webkit-animation-name: homerfun;
    -webkit-animation-duration: .5s;
    -webkit-animation-timing-function: linear;
}
