body {
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
}
.addr {
  font-size: 1.2em;
  margin: 20px 0;
  width: 90%;
  color: black;
}
.addr.err {
  background: rgba(255, 0, 0, 0.7);
}
#box1 {
  padding: 5px 10px;
}
h1 {
  font-size: 2em;
  margin: .67em 0;
}
h2 {
  font-size: 1.5em;
  margin: .5em 0;
}
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}
.mapholder {
  margin: 0 5px;
}
@-webkit-keyframes homerfun {
  from {
    -webkit-transform: scale(2);
  }
  to {
    -webkit-transform: scale(1);
  }
}
/* This is the element that we apply the animation to. */
.homerfun {
  -webkit-animation-name: homerfun;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
}