body {
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}
div,
h1,
h2,
button {
  padding: 0;
  margin: 0;
}
.ip {
  width: 320px;
  padding: 20px 0px;
  overflow: hidden;
}
.ip .a1,
.ip .a2,
.ip .a3 {
  padding: 5px 20px;
}
.ip .a2 {
  padding: 2px 15px;
}
.ip h2 {
  font-size: 1.5em;
  margin: 5px 0;
  padding: 0;
}
.ip button {
  width: 260px;
  height: 60px;
  font-size: 1.5em;
  margin: 10px;
}
.addr {
  font-size: 1.2em;
}
.addr.err {
  background: rgba(255, 0, 0, 0.7);
}
.coords {
  font-size: .8em;
}
@-webkit-keyframes homerfun {
  from {
    -webkit-transform: scale(0.3);
    transform: scale(0.3);
  }
  to {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
.homerfun {
  -webkit-animation-name: homerfun;
  -webkit-animation-duration: .5s;
  -webkit-animation-timing-function: linear;
}
