@mixin wide-guy {
	position: relative;
	left: 0;
	width: 100%;
	max-width: 1080px;
	margin: 0 auto;
}
html {
	height: 100%;
	width: 100%;
	min-width: 320px;
}
body {
	margin: 0 auto;
	font: 24px sans-serif;
	background-color: silver;
}
footer {
	@include wide-guy;
	font-size: .5em;
	background-color: white;
}
.container {
	@include wide-guy;
}
.content {
	background: white;
	padding: 5px;
	position: relative;
	h2 {
		font-size: 1.5em;
	}
}
button { 
	font-size: 1.5em; 
	margin: 10px 0;
} 
